.gpt3__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20rem; /* Adjust the space between content and button */

    padding: 2rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin: 4rem;
    border-radius: 1rem;

    /* ff 3.6+ */
    background: -moz-linear-gradient(271deg, rgba(86, 188, 184, 1) 0%, rgba(18, 137, 203, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(271deg, rgba(86, 188, 184, 1) 0%, rgba(18, 137, 203, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(271deg, rgba(86, 188, 184, 1) 0%, rgba(18, 137, 203, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56BCB8', endColorstr='#1289CB', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(271deg, rgba(86, 188, 184, 1) 0%, rgba(18, 137, 203, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(271deg, rgba(86, 188, 184, 1) 0%, rgba(18, 137, 203, 1) 100%);
}

.gpt3__cta-content {
    display: flex;
    text-align: right;
    color: #fff;
}


.gpt3__cta-content h3 {
    font-family: var(--font-family);
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
}

.gpt3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: left;


}

.gpt3__cta-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem; /* the space between the button and the text*/
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 810px) {
    .gpt3__cta {
        flex-direction: column;
        gap: 0rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
        gap: 0rem;
    }

    .gpt3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__cta {
        flex-direction: column;
        margin: 4rem 2rem;
        gap: 0rem;
    }

    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}